* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.logo-and-title {
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: row;
    padding: inherit;
    width: 85%;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navbar {
    background-color: rgb(190, 190, 190);
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    padding: 9px;
    top: 0;
}

.icon {
    width: 40px;
    height: 40px;
    position: relative;
}

.menu-box {
    position: relative;
    padding: inherit;
    flex-direction: row;
    display: flex;
    gap: 10px;
}

.menu {
    padding: inherit;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    top: 0;
}

.menu a:hover {
    text-decoration: none;
    color: rgb(0, 83, 190);
    font-weight: bolder;
}

.login-btn {
    position: relative;
    display: flex;
    background-color: black;
    padding: 8px;
    border-radius: 9px;
    border: 1px solid black;
}

.login-btn:hover {
    background-color: rgb(44, 44, 44);
}

.login-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: inherit;
}

.login-btn a:hover {
    color: rgb(24, 247, 255);
}